@import '../../styles/variables';

.title1 {
  font-size: 5rem;
  margin-bottom: $base-unit;
}

.title2 {
  font-size: 4rem;
  margin-bottom: $base-unit;
}

.title3 {
  font-size: 1.6rem;
  margin-bottom: $base-unit;
}
