@import '../../styles/variables.scss';

.icon {
  border-radius: 50%;
  width: $base-unit * 3;
  height: $base-unit * 3;
  border: none;
  padding: 0px;
  cursor: pointer;
}

.symptonsIcon {
  @extend .icon;
  background: rgba(244, 248, 80, 0.6);
  border: 4px solid #f4f850;
  color: #808a09;
}

.testAdminIcon {
  @extend .icon;
  background: rgba(255, 122, 0, 0.6);
  border: 4px solid #ff7a00;
  color: #fff;
}

.confirmedIcon {
  @extend .icon;
  background: rgba(207, 0, 0, 0.6);
  border: 4px solid #c44a48;
  color: #fff;
}

.deathIcon {
  @extend .icon;
  background: rgba(0, 0, 0, 0.6);
  border: 4px solid #000000;
  color: #fff;
}

.detailsContainer {
  width: 40%;
  display: inline-block;
  vertical-align: top;

  .divider {
    border: 4px solid #fbe17a;
    width: 57px;
    height: 0px;
    margin-left: 0px;
    margin-top: $base-unit * 5;
    margin-bottom: $base-unit * 5;
  }

  .container {
    padding-left: $base-unit * 6;
    padding-right: $base-unit * 6;
  }
}

.rows {
  margin-top: $base-unit * 5;
}

.row {
  display: flex;
  margin-top: $base-unit * 2;

  h5 {
    font-size: 1.4rem;
  }

  .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: $base-unit * 3;
  }

  .pill {
    width: 100px;
    height: 66px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .deathPill {
    @extend .pill;
    background-color: #000;
    color: #fff;
  }

  .symptonsPill {
    @extend .pill;
    background-color: #f4f850;
    color: #808a09;
  }

  .testAdminPill {
    @extend .pill;
    background-color: #ff7a00;
    color: #fff;
  }

  .confirmedPill {
    @extend .pill;
    background-color: #c44a48;
    color: #fff;
  }
}
